In [1]:
a = [1, 2, 3]

In [2]:
a = [1, 2,
    3, 4, 5]

In [3]:
a

[1, 2, 3, 4, 5]

In [4]:
a = [1 #item 1
    ,2]

In [5]:
a

[1, 2]

In [7]:
a = (1 #comment
    ,2 #comment
    ,3)

In [8]:
a

(1, 2, 3)

In [9]:
a = {'key1':1 #value for key1
    ,'key2':2 #value for key2
    }

In [10]:
a

{'key1': 1, 'key2': 2}

In [11]:
def my_function(a, #this is used to indicate .. 
                b, #comment
                c):
    print(a, b, c)

In [12]:
my_function(10, 20, 30)

10 20 30

In [13]:
my_function(10,
           20,
           30)

10 20 30

In [14]:
my_function(10, #comment
           20, #comment
           30 #comment
           )

10 20 30

In [15]:
a = 10
b = 20
c = 30

In [17]:
if a > 5 \
    and b > 10 \
        and c > 20:
    print('yes')

yes

In [18]:
a = '''This is a string'''

In [19]:
a

'This is a string'

In [20]:
a = '''this 
is a string'''

In [21]:
a

'this \nis a string'

In [22]:
print(a)

this
is a string

In [23]:
a = '''this 
    is a string
       that is created over multiple lines'''

In [24]:
a

'this \n    is a string\n       that is created over multiple lines'

In [25]:
print(a)

this
    is a string
       that is created over multiple lines

In [26]:
a = '''sum items:
        1. item 1
        2. item 2'''

In [27]:
print(a)

sum items:
        1. item 1
        2. item 2

In [30]:
def my_func():
    a = '''a multi-lie string
that is indentend in the second line'''
    return a

In [31]:
print(my_func())

a multi-lie string
that is indentend in the second line